@import ".variables.scss";
@import "reset.css";

* {
  box-sizing: border-box;
}

.title__position {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  .title__left {
    width: 66.666%;
    display: flex;
    padding: 10px;
    color: #e0e1e2;

    & > * {
      margin-right: 70px;
    }

    &:hover {
      background-color: #e0e1e2;
      color: white;
      cursor: pointer;
    }

    & > :nth-child(1) {
      color: black;
    }
  }

  .title__right {
    width: 33.334%;
    display: flex;
    padding: 10px;
    &:hover {
      background-color: #e0e1e2;
      cursor: pointer;
    }
    & > * {
      margin-right: 70px;
    }
  }
}

.content__grid__position {
  position: relative;
  top: 50px;
  .content__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10fr 1fr 10fr 1fr 10fr 1fr 10fr 1fr;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 40vh;
    }
    div {
      display: flex;
      align-items: center;
      span {
        padding-left: 20px;
      }
    }
  }
}
